link(href='./src/common.css', rel='stylesheet')
link(href='./src/pages/aboutme.css', rel='stylesheet')

h1.header About Me

div(id="profile").row.grey
	div.col-sm-4
		center
			img(src="./src/img/profile.png")
	div.col-sm-8
		center.whitetext
			br
			br
			h1 Som Bose
			h2 Software Engineer
			h2 Chess Player
			h2 Percussionist	

div(id="aboutme")
	div.col-2.paragraph.whitetext
		p I have been a keen participant in software development since the time I was introduced to it. Genres have not been limited in this field, and varies for me from game development to web development. im here I have been a keen participant in software development since the time I was introduced to it. Genres have not been limited in this field, and varies for me from game development to web development. im here I have been a keen participant in software development since the time I was introduced to it. Genres have not been limited in this field, and varies for me from game development to web development. im here I have been a keen participant in software development since the time I was introduced to it. Genres have not been limited in this field, and varies for me from game development to web development. im here
		br
		br