
link(href='./src/components/welcome.css', rel='stylesheet')

link(href='./src/common.css', rel='stylesheet')

div.main-content
	h3.text-grey.padding10 I believe
	center
		div#img-container
			ul(id="main-slider").list-unstyled
				li
					img.slider-img(src="./src/img/SteveJobs_quote1.jpg" alt="")
				li
					img.slider-img(src="./src/img/larry_page_quote1.jpg" alt="")
				li
					img.slider-img(src="./src/img/zuckerberg-quote1.png" alt="")


div.social
	h3.text-grey Connect 
	br
	br
	ul(id="icons").list-unstyled
		li
			a(href="https://www.facebook.com/som.bose" target="_blank")
				img.icon(src="./src/img/fb-social-icon.png")
		li
			a(href="https://plus.google.com/104492837872426355538" target="_blank")
				img.icon(src="./src/img/g+-social-icon.png")

		li
			a(href="https://in.linkedin.com/in/som-bose-96abb545" target="_blank")
				img.icon(src="./src/img/in-social-icon.png")

		li
			a(href="https://twitter.com/somiitkgp" target="_blank")
				img.icon(src="./src/img/twitter-social-icon.png")
	
	

a(href="/aboutme").right
	img.next(src="./src/img/next-icon.png")

	

